@import url(base.css);

form {
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 2rem;
  background: #fff;
}

label {
  width: 90px;
  padding-top: 30px;
  color: #555;
}

input, select, textarea {
  width: 100%;
  padding: 0.4rem;
  border: 1px solid #bbb;
  border-radius: 0;
  font-size: 0.9rem;
}

button {
  margin-top: 1rem;
  background: #eee;
  border: 1px solid #999;
  cursor: pointer;
  font-size: 0.85rem;
}
